html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}


#titlePanel {
    width: auto;
    height: auto;
    align-items: center;
    position: absolute;
    left: 15em;
    top: 0.5em;
    border-block-start: 2mm ridge rgba(211, 220, 50, .6);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(255, 255, 255, 0.377), 0 0 0.2em rgb(124, 124, 124);

}


#menuPanel {
    width: auto;
    height: auto;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 12%;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(104, 104, 104, 0.8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #ffffffe7;
}

.sel-options,
.esri-widgets{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
}


#descPanel {
    display: none;
    width: 18vw;
    height: auto;
    align-items: center;
    position: absolute;
    z-index: 99;
    right: 13;
    top: 3%;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 2ch;
    font-size: 1vw;
    padding-top: 1em;
    padding-bottom: 2em;
}



.esri-elevation-profile.esri-component.esri-widget--panel {
    width: 350px !important;
}

.overlay {
    position: fixed;
    z-index: 99;
    width: 2rem;
    top: 265;
    left: 15;
    background-color: rgba(80, 80, 80, 0);
    /*text-align: center;*/
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button {
    cursor: pointer;
    font-size: 20pt !important;
    font-weight: bold !important;
    color: rgba(230, 230, 230, 0.693);
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    padding-left: 0;

}


br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}


b {
    color: orange;
    /*78, 246, 40*/
}

.esri-view-width-xlarge .esri-popup__main-container,
.esri-view-width-large .esri-popup__main-container,
.esri-view-width-medium .esri-popup__main-container {
    max-height: 460px !important;
    max-width: 300px !important;
}


::-webkit-scrollbar {
    display: none;
}



