[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = sarramaravilla
	email = 94330379+sarramaravilla@users.noreply.github.com
