html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#headerTitleDiv {
    font-size: 3.0vw;
    vertical-align: middle;
    padding-top: 3px;
    z-index: 99;
    position: absolute;
    left: 13;
    top: 18;
    color: white;
}

#progressPanel {
    width: 20vw;
    height: 80vh;
    align-items: center;
    position: absolute;
    z-index: 99;
    left: 13;
    bottom: 3%;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(0, 0, 0, 0.5);
}

.chartTitleDiv {
    font-weight: 200;
    text-align: center;
    font-style: normal;
    font-size: 1.5vw;
    font-family: 'Roboto-Condensed', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.9;
    margin-top: 10px;
    line-height: 0.5;
    left: 35;
    position: absolute
}

.dateDiv {
    color: rgb(0, 197, 255);
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    font-weight: normal;
    font-size: 1.1vw;
    padding-top: 2%;
    margin: 0;
    z-index: 99;
    top: 55;
    left: 13;
    position: absolute;
}

#menu {
    padding: 1;
    max-width: 250px;
    background-color: rgba(0, 0, 0, 0.0);
    color: rgb(255, 255, 255);
    z-index: 99;
    position: absolute;
    width: 10vw;
    left: 400px;
    bottom: 1.5em;


}

.sassy-theme .esri-button {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    display: none;
}

.sassy-theme .esri-legend__layer-caption {
    display: none;
}

.overlay {
    position: absolute;
    z-index: 99;
    width: 2rem;
    bottom: 4rem;
    left: 400;
    background-color: rgba(80, 80, 80, 0);
    /*text-align: center;*/
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button {
    cursor: pointer;
    font-size: 25pt !important;
    font-weight: bold !important;
    color: rgb(230, 230, 230);
}

.button:hover,
#label {
    color: white;
}

.button,
#label {
    margin: 15px;
}

.esri-view-surface--inset-outline:focus::after {
    outline: none !important;
}

#boxTotal {
    display: grid;
    position: fixed;
    z-index: 99;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 185, 242, 0.4));
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(0, 0, 0, 0.5);
    bottom: 3%;
    left: 13;
    color: white;
    font-size: 2vw;
    width: 20vw;
    height: 12vh;
    text-align: center;
}


#labelTotalDiv {
    color: white;
    font-size: 1.8vw;
    width: 100%;
    height: 5vh;
    text-align: center;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#totalProgress {
    color: rgb(0, 197, 255);
    font-size: 2.5vw;
    width: 100%;
    height: 6vh;
    padding-top: 3;
    text-align: center;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}